/* Welcome to Compass. In this file you should write your main styles. (or centralize your imports) Import this file using the following HTML or equivalent: <link href="/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 14, ../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }

/* line 17, ../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body { line-height: 1; color: black; background: white; }

/* line 19, ../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul { list-style: none; }

/* line 21, ../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table { border-collapse: separate; border-spacing: 0; vertical-align: middle; }

/* line 23, ../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

/* line 25, ../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote { quotes: "" ""; }
/* line 96, ../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after { content: ""; }

/* line 27, ../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img { border: none; }

/* line 46, ../sass/screen.scss */
body { min-width: 890px; background: #e7e2df url(/images/bg.jpg) repeat center top; font-family: "museo-sans-1", "museo-sans-2", sans-serif; font-size: 16px; line-height: 26px; color: #474544; }

/* line 52, ../sass/screen.scss */
.container { width: 940px; margin: 0px auto; }

/* line 57, ../sass/screen.scss */
a { color: #b82b27; text-decoration: none; }
/* line 61, ../sass/screen.scss */
a:hover { color: #8e211e; }

/* line 67, ../sass/screen.scss */
p, ol, ul { margin-bottom: 1.5em; }

/* line 72, ../sass/screen.scss */
#header { background: #c02c2a url(/images/bg-red.jpg) repeat center top; padding: 170px 0 90px 0; margin: -170px 0 90px; overflow: hidden; display: block; height: 422px; border-bottom: 18px solid rgba(80, 0, 0, 0.6); -webkit-transform: skewY(-8.4deg); -moz-transform: skewY(-8.4deg); -o-transform: skewY(-8.4deg); -ms-transform: skewY(-8.4deg); transform: skewY(-8.4deg); }
/* line 82, ../sass/screen.scss */
#header .container { -webkit-transform: skewY(8.4deg); -moz-transform: skewY(8.4deg); -o-transform: skewY(8.4deg); -ms-transform: skewY(8.4deg); transform: skewY(8.4deg); }
/* line 86, ../sass/screen.scss */
#header #logo { margin-top: 130px; margin-left: 2px; float: left; }
/* line 92, ../sass/screen.scss */
#header #next-meeting { width: 300px; margin-top: 84px; float: right; -webkit-transform: skewY(-9.4deg); -moz-transform: skewY(-9.4deg); -o-transform: skewY(-9.4deg); -ms-transform: skewY(-9.4deg); transform: skewY(-9.4deg); }
/* line 98, ../sass/screen.scss */
#header #next-meeting dt { font-family: "bello-pro-1", "bello-pro-2", sans-serif; font-size: 28px; color: #000; text-transform: lowercase; color: #fff; line-height: 31px; opacity: 0.75; }
/* line 105, ../sass/screen.scss */
#header #next-meeting dd { font-family: "league-gothic-1", "league-gothic-2", sans-serif; color: #000; font-size: 42px; line-height: 42px; text-transform: uppercase; opacity: 0.7; margin-bottom: 35px; }
/* line 108, ../sass/screen.scss */
#header #next-meeting dd a { color: #000; }

/* line 115, ../sass/screen.scss */
#content { margin-bottom: 15em; overflow: hidden; }
/* line 120, ../sass/screen.scss */
#content #main-column { float: right; width: 540px; margin-right: 80px; }
/* line 127, ../sass/screen.scss */
#content #main-column .post header { margin-bottom: 34px; }
/* line 130, ../sass/screen.scss */
#content #main-column .post header h1 { font-family: "league-gothic-1", "league-gothic-2", sans-serif; color: #000; font-size: 42px; line-height: 42px; text-transform: uppercase; opacity: 0.7; }
/* line 134, ../sass/screen.scss */
#content #main-column .post header .pubdate { font-family: "bello-pro-1", "bello-pro-2", sans-serif; font-size: 28px; color: #000; text-transform: lowercase; opacity: 0.3; font-size: 18px; }
/* line 146, ../sass/screen.scss */
#content #site-links { float: left; margin-top: 109px; }
/* line 150, ../sass/screen.scss */
#content #site-links li { font-family: "bello-pro-1", "bello-pro-2", sans-serif; font-size: 28px; color: #000; text-transform: lowercase; font-size: 23px; margin-bottom: 30px; }
/* line 155, ../sass/screen.scss */
#content #site-links li a { background: url(/images/sprites.png) no-repeat left top; padding-left: 46px; line-height: 30px; display: block; }
/* line 161, ../sass/screen.scss */
#content #site-links li a.link-github { background-position: left -62px; }
/* line 162, ../sass/screen.scss */
#content #site-links li a.link-archives { background-position: left -122px; }

/* line 172, ../sass/screen.scss */
footer { margin-bottom: 20px; }
/* line 173, ../sass/screen.scss */
footer #paravel { margin-right: 10px; }
