<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="utf-8" />
  {% if page.title %}
    <title>{{ site.title }} / {{ page.title }}</title>
  {% else %}
    <title>{{ site.title }}</title>
  {% endif %}
  
  <script type="text/javascript" src="http://use.typekit.com/osh5eli.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  
  <link href="http://feeds.feedburner.com/austin-rb" rel="alternate" title="Austin.RB" type="application/atom+xml" />
  <link href="/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <link href="/css/print.css" media="print" rel="stylesheet" type="text/css" />
  <!--[if IE]>
      <link href="/css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <![endif]-->
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>

<body>
  <header id="header" data-role="header">
    <div class="container">
      <a href="/">
        <img src="/images/logo.png" id="logo" alt="{{ site.title }}"/>
      </a>

      <dl id="next-meeting">
        <dt>Next Meeting Date</dt>
        <dd>
          <a href="{{ site.meeting.when.url }}" title="Add to your Plancast" rel="nofollow">{{ site.meeting.when.date }}<br/>{{ site.meeting.when.time }}</a>
        </dd>
        <dt>Next Meeting Location</dt>
        <dd>
          <a href="{{ site.meeting.where.url }}" title="{{ site.meeting.where.location }}" rel="nofollow">{{ site.meeting.where.location }}</a>
        </dd>
          
      </dl>
    </div>
  </header>
  
  <section id="content" data-role="content">
    <div class="container">
      <div id="main-column">
        {{ content }}
      </div>
      
      <nav id="site-links">
        <ul>
          <li><a href="mailto:ttyrrell+austinrb@gmail.com" class="link-speaker">Get in Touch</a></li>
          <li><a href="http://twitter.com/austinrb" class="link-twitter">Follow us on Twitter</a></li>
          {% if site.posts.size > 1 %}
            <li><a href="/archives" class="link-archives">View Archives</a></li>
          {% endif %}
          <a href="http://www.capitalfactory.com"><img src="../images/CF_Logo_WB_NOBG.png" width="175"></a>
      </nav>
    
    </div>
  </section>
  
  <footer>
    <div class="container">
      <span>
        <a id="paravel" href="http://paravelinc.com/"><img src="/images/paravel.png" alt="Paravel Inc."/></a>
        Austin.rb logo and website lovingly designed by <a href="http://paravelinc.com/">Paravel</a>
      </span> 
    </div>
  </footer>
  
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-22839563-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</body>
</html>
